html{
    font-family: sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    width: 70%;
    margin: 0 auto;
}

#containerCarosello {
    width: 100%;
    margin-top: 150px;
    display: flex;
}


.mainPic > img{
    width: 100%;
    
}

.secondaryPic{
    width: 30%;
}

.pic i{
    position: absolute;

    background-color: lightgray;
    color: black;
    opacity: 0.5;
    

    position: absolute;
    left: 50%;
    top: 5px;
    cursor: pointer;
}

.pic{
    height: calc( 100% / 5 );
    width: 100%;

    position: relative;
}

.pic img{
    width: 100%;
}


.pic .fa-chevron-down {
    background-color: lightgray;
    opacity: 0.5;
    

    position: absolute;
    top: 80%;
    left: 50%;
    cursor: pointer;
}